
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}

li{
    list-style: none;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/*navbar*/
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.navbar{
    background-color: inherit;
    
    }
 .nav-list{
    column-gap: 20px;
 }   

 hr{
     color: rgb(255, 255, 255);
     width: 100%;
 }

 /*home*/
 #Home{
    background-image: url(../images/news.jpg);
     background-size: cover;
     background-position: center center;
     height: 100vh;
     margin-bottom: 4%;
 }
 .overlay{
    background-color: rgba(0, 0, 0, .2);
    height: 100%;
 }

 .miss ul{
    justify-content: space-around;
    align-items: baseline;
    width: 70%;
   
    
 }

.miss hr{
    color: black;
    margin: 1%;
}
 










/*footer*/
.footer{
    background-color: black;
    color: white;
}
.footer a{
    color: white;
}

.footer .one{
    width: 33%;
}
.footer.container{
    display: flex;
    justify-content: space-between;

}
.container .two ul{
    display: flex;
    width: 65%;
    flex-direction: row;
    flex-wrap: wrap;
}
.two li{
    padding: 5px;
    
}
